
<div class="hero">
		<video preload="auto" loop="loop" autoplay="autoplay" muted>
			<source src= "<%= video_path("hero.mp4")%>" type="video/mp4">
		</video>
	</div>
	<h1>Landsurfers</h1>
</div>


<!--    <div class="embed-responsive embed-responsive-4by3">
       <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/i0H8pbcuqos" allowfullscreen></iframe>
   </div> -->
 <!-- End of embedded video -->