<h1>Order summary</h1>
<p>Your order:</p>
<table>
	<thead>
		<tr>
			<th>Product ID</th>
			<th>Order total</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @order.product_id %></td>
			<td><%= '%.2f' % (@order.total/100) %></td>
		</tr>
	</tbody>
</table>

